table {
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: red;
}

#header {
    background: black;
    padding: 10px;
    text-align: center;
}

#blog {
    width: 85%;
    height: auto;
    /* background: transparent; */
    margin: 0 auto;
    /* border: 1px solid black; */
    color: white;
    text-align: center;
}

#footer {
    padding: 20px;
    background: #ccc;
}

#main {
    padding: 20px 0;
    width: 500px;
    margin: 0 auto;
}


/* contenedor */

#content {
    width: 85%;
    min-height: 900px;
    height: auto;
    background: transparent;
    margin: 0px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    overflow: hidden;
    background: rgb(153, 170, 202);
}


/* estilos login */

#asideLogin {
    float: right;
    width: 28%;
    min-height: 900px;
}


/* entradas principal */

#chief {
    float: left;
    width: 70%;
    min-height: 900px;
    background: rgb(238, 234, 234);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ccc;
    margin-left: 20px;
    overflow: hidden;
}

#chief h1 {
    font-size: 30px;
    color: #444444;
    letter-spacing: 1px;
    text-shadow: 1px;
}

#chief h2 {
    font-size: 20px;
    color: #5d23e4;
    letter-spacing: 1px;
    margin-top: 25px;
}

#chief a {
    color: #999999;
    list-style: none;
    text-decoration: none;
}

#chief p {
    color: rgb(80, 71, 71);
}


/* ver entradas comments */

#lookEntry a {
    display: block;
    border-radius: 2px;
    padding: 15px;
    color: white;
    background: blue;
    border: 1px solid #156785;
    cursor: pointer;
    width: 160px;
    margin: 0px auto;
    margin-top: 35px;
}


/* estilos de register */

.blockAside {
    display: block;
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
}

.blockAside h3 {
    margin-bottom: 10px;
}


/* //botones */

label,
input[type='text'],
input[type='email'],
input[type='password'] {
    display: block;
    width: 95%;
    margin-top: 2px;
    margin-bottom: 2px;
}

input[type='button'],
input[type='submit'] {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #156785;
    border-radius: 2px;
    cursor: pointer;
}

.button {
    background: #33AE3D;
    color: white !important;
    text-decoration: none;
}

.button-small {
    width: 120px;
    text-align: center;
    margin-bottom: 20px;
}

.center {
    text-align: center;
    font-size: 15px;
    color: #5d23e4;
    letter-spacing: 1px
}

.error {
    color: red;
}

.alert_green {
    color: green;
}

.alert_red {
    color: red;
}

.category {
    text-decoration: none;
    display: block;
    padding: 8px;
    margin: 5px;
    font-weight: 400px;
    font-size: 14px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    width: 130px;
    border: 1px solid #0016b0;
}

.category-orange {
    background: rgb(184, 135, 45);
}

.category-green {
    background: rgb(152, 223, 152);
}

.category-blue {
    background: rgb(143, 143, 211);
}

footer {
    clear: both;
    margin: 0 auto;
    background: lightcyan;
    width: 85%;
    border: 1px solid cadetblue;
    /* border-bottom: none; */
    border-radius: 8px;
    color: #666666;
    height: auto;
    padding: 15px;
    text-align: center;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 1px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding: 20px;
    padding-top: 0px;
}